# Weather report forecasting Analysis

TODO - Pre-processing the data
TODO - Talk about exploratory data analysis

In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
weather_df = pd.read_csv( r"C:\\Users\\ratho\\Downloads\\Weather-Forecasting-Analysis-main\\Weather-Forecasting-Analysis-main\\weather_dataset_1.csv" ) #reading the csv file

In [23]:
weather_df

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
0,2022-01-01,37.8,'35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037',NaN
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998',NaN
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978',NaN
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864',NaN
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991',NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
weather_df.head()

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
0,2022-01-01,37.8,'35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037',NaN
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998',NaN
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978',NaN
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864',NaN
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991',NaN

In [25]:
weather_df.shape

(3966, 24)

In [26]:
weather_df.drop_duplicates( inplace = True) #drop the duplicates in the data

In [27]:
weather_df

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
0,2022-01-01,37.8,'35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037',NaN
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998',NaN
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978',NaN
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864',NaN
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991',NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2033-07-25','62.8','60.0','48.1','29.7','2.5','4.0','242.0','0.33','4.47',...,'36.0','29.781','29.645','8.1','17.3','77.5','2022-07-25','07','0.13599999999999923',NaN
3899,2033-07-26','60.6','68.0','48.9','29.8','1.7','2.9','357.0','0.33','4.47',...,'40.0','29.93','29.745','11.5','15.0','77.5','2022-07-26','07','0.18499999999999872',NaN
3900,2033-07-27','61.7','64.0','47.4','29.9','2.2','4.0','66.0','0.33','4.47',...,'35.0','29.941','29.781','13.8','18.4','78.2','2022-07-27','07','0.16000000000000014',NaN
3901,2033-07-28','60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';,NaN
3903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
weather_df.shape

(3903, 24)

In [29]:
weather_df.head(10)

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
0,2022-01-01,37.8,'35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037',NaN
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998',NaN
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978',NaN
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864',NaN
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991',NaN
5,2022-01-06','24.8','42.0','4.6','29.8','16.0','23.9','276.0','0.0','0.0',...,'27.0','29.879','29.637','29.9','48.0','32.0','2022-01-06','01','0.24200000000000088',NaN
6,2022-01-07','34.2','60.0','21.6','29.7','20.4','30.0','276.0','0.0','0.0',...,'46.0','29.86','29.602','38.0','54.0','39.0','2022-01-07','01','0.2579999999999991',NaN
7,2022-01-08','42.1','41.0','20.0','29.8','17.5','25.2','265.0','0.0','0.0',...,'28.0','29.883','29.627','35.7','49.0','51.0','2022-01-08','01','0.2560000000000002',NaN
8,2022-01-09','30.3','46.0','11.4','30.0','6.9','10.6','292.0','0.0','0.0',...,'27.0','30.446','29.575','24.2','36.0','41.0','2022-01-09','01','0.8710000000000022',NaN
9,2022-01-10','26.2','38.0','3.6','30.4','18.2','24.6','258.0','0.0','0.0',...,'29.0','30.489','30.291','31.1','46.0','32.0','2022-01-10','01','0.1980000000000004',NaN

In [30]:
weather_df.tail(10)

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
3893,2033-07-20','70.1','35.0','37.4','29.6','4.9','8.0','293.0','0.12','4.26',...,'9.0','29.65','29.505','17.3','27.6','82.3','2022-07-20','07','0.14499999999999957',NaN
3894,2033-07-21','65.3','60.0','49.8','29.6','3.7','6.3','38.0','0.12','4.26',...,'31.0','29.71','29.568','13.8','19.6','79.5','2022-07-21','07','0.14199999999999946',NaN
3895,2033-07-22','65.4','52.0','42.7','29.6','4.2','6.7','230.0','0.12','4.26',...,'14.0','29.707','29.583','16.1','25.3','82.6','2022-07-22','07','0.12400000000000233',NaN
3896,2033-07-23','67.1','48.0','45.2','29.6','5.3','8.6','228.0','0.23','4.37',...,'26.0','29.668','29.571','19.6','24.2','79.7','2022-07-23','07','0.09699999999999775',NaN
3897,2033-07-24','64.1','62.0','49.8','29.6','3.6','5.8','240.0','0.24','4.38',...,'35.0','29.686','29.577','15.0','25.3','77.4','2022-07-24','07','0.10899999999999821',NaN
3898,2033-07-25','62.8','60.0','48.1','29.7','2.5','4.0','242.0','0.33','4.47',...,'36.0','29.781','29.645','8.1','17.3','77.5','2022-07-25','07','0.13599999999999923',NaN
3899,2033-07-26','60.6','68.0','48.9','29.8','1.7','2.9','357.0','0.33','4.47',...,'40.0','29.93','29.745','11.5','15.0','77.5','2022-07-26','07','0.18499999999999872',NaN
3900,2033-07-27','61.7','64.0','47.4','29.9','2.2','4.0','66.0','0.33','4.47',...,'35.0','29.941','29.781','13.8','18.4','78.2','2022-07-27','07','0.16000000000000014',NaN
3901,2033-07-28','60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';,NaN
3903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
weather_df.columns

Index(['Date', ' Temperature', ' Average humidity (%', ' Average dewpoint (°F',
       ' Average barometer (in', ' Average windspeed (mph',
       ' Average gustspeed (mph', ' Average direction (°deg',
       ' Rainfall for month (in', 'Rainfall for year (in',
       ' Maximum rain per minute', ' Maximum temperature (°F',
       ' Minimum temperature (°F', ' Maximum humidity (%',
       ' Minimum humidity (%', ' Maximum pressure', ' Minimum pressure',
       ' Maximum windspeed (mph', ' Maximum gust speed (mph',
       ' Maximum heat index (°F', 'Date1', ' Month', ' diff_pressure',
       'Unnamed: 23'],
      dtype='object')

In [32]:
weather_df.index

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       3893, 3894, 3895, 3896, 3897, 3898, 3899, 3900, 3901, 3903],
      dtype='int64', length=3903)

In [33]:
weather_df

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
0,2022-01-01,37.8,'35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037',NaN
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998',NaN
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978',NaN
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864',NaN
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991',NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2033-07-25','62.8','60.0','48.1','29.7','2.5','4.0','242.0','0.33','4.47',...,'36.0','29.781','29.645','8.1','17.3','77.5','2022-07-25','07','0.13599999999999923',NaN
3899,2033-07-26','60.6','68.0','48.9','29.8','1.7','2.9','357.0','0.33','4.47',...,'40.0','29.93','29.745','11.5','15.0','77.5','2022-07-26','07','0.18499999999999872',NaN
3900,2033-07-27','61.7','64.0','47.4','29.9','2.2','4.0','66.0','0.33','4.47',...,'35.0','29.941','29.781','13.8','18.4','78.2','2022-07-27','07','0.16000000000000014',NaN
3901,2033-07-28','60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';,NaN
3903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
weather_df.shape

(3903, 24)

In [35]:
weather_df.columns

Index(['Date', ' Temperature', ' Average humidity (%', ' Average dewpoint (°F',
       ' Average barometer (in', ' Average windspeed (mph',
       ' Average gustspeed (mph', ' Average direction (°deg',
       ' Rainfall for month (in', 'Rainfall for year (in',
       ' Maximum rain per minute', ' Maximum temperature (°F',
       ' Minimum temperature (°F', ' Maximum humidity (%',
       ' Minimum humidity (%', ' Maximum pressure', ' Minimum pressure',
       ' Maximum windspeed (mph', ' Maximum gust speed (mph',
       ' Maximum heat index (°F', 'Date1', ' Month', ' diff_pressure',
       'Unnamed: 23'],
      dtype='object')

In [36]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3903 entries, 0 to 3903
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3902 non-null   object
 1    Temperature              3902 non-null   object
 2    Average humidity (%      3902 non-null   object
 3    Average dewpoint (°F     3902 non-null   object
 4    Average barometer (in    3902 non-null   object
 5    Average windspeed (mph   3902 non-null   object
 6    Average gustspeed (mph   3902 non-null   object
 7    Average direction (°deg  3902 non-null   object
 8    Rainfall for month (in   3902 non-null   object
 9   Rainfall for year (in     3902 non-null   object
 10   Maximum rain per minute  3902 non-null   object
 11   Maximum temperature (°F  3902 non-null   object
 12   Minimum temperature (°F  3902 non-null   object
 13   Maximum humidity (%      3902 non-null   object
 14   Minimum humidity (%      3902 non-null   object
 15   Maximum pressure         3902 non-null   object
 16   Minimum pressure         3902 non-null   object
 17   Maximum windspeed (mph   3902 non-null   object
 18   Maximum gust speed (mph  3902 non-null   object
 19   Maximum heat index (°F   3902 non-null   object
 20  Date1                     3902 non-null   object
 21   Month                    3902 non-null   object
 22   diff_pressure            3902 non-null   object
 23  Unnamed: 23               0 non-null      float64
dtypes: float64(1), object(23)
memory usage: 762.3+ KB

In [37]:
weather_df.describe()

       Unnamed: 23
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

In [38]:
string_cols = weather_df.select_dtypes(include=['object'])  # Select object type (strings)
string_cols = string_cols.apply(lambda x: x.str.replace("'", ""))  # Apply replace using str accessor
weather_df.update(string_cols)  # Update original DataFrame

In [39]:
weather_df

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037,NaN
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998,NaN
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978,NaN
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864,NaN
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2033-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,36.0,29.781,29.645,8.1,17.3,77.5,2022-07-25,07,0.13599999999999923,NaN
3899,2033-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,40.0,29.93,29.745,11.5,15.0,77.5,2022-07-26,07,0.18499999999999872,NaN
3900,2033-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,35.0,29.941,29.781,13.8,18.4,78.2,2022-07-27,07,0.16000000000000014,NaN
3901,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,35.0,29.792,29.675,17.3,26.5,77.6,2022-07-28,07,0.11700000000000088;,NaN
3903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
weather_df = weather_df[weather_df['Date'] != '2022-02-29']

In [41]:
weather_df

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037,NaN
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998,NaN
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978,NaN
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864,NaN
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2033-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,36.0,29.781,29.645,8.1,17.3,77.5,2022-07-25,07,0.13599999999999923,NaN
3899,2033-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,40.0,29.93,29.745,11.5,15.0,77.5,2022-07-26,07,0.18499999999999872,NaN
3900,2033-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,35.0,29.941,29.781,13.8,18.4,78.2,2022-07-27,07,0.16000000000000014,NaN
3901,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,35.0,29.792,29.675,17.3,26.5,77.6,2022-07-28,07,0.11700000000000088;,NaN
3903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# change the data type of Date from object to datetime
weather_df["Date"] = pd.to_datetime(weather_df["Date"],format='mixed', dayfirst=True,errors='coerce')

In [43]:
weather_df

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037,NaN
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998,NaN
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978,NaN
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864,NaN
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2033-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,36.0,29.781,29.645,8.1,17.3,77.5,2022-07-25,07,0.13599999999999923,NaN
3899,2033-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,40.0,29.93,29.745,11.5,15.0,77.5,2022-07-26,07,0.18499999999999872,NaN
3900,2033-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,35.0,29.941,29.781,13.8,18.4,78.2,2022-07-27,07,0.16000000000000014,NaN
3901,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,35.0,29.792,29.675,17.3,26.5,77.6,2022-07-28,07,0.11700000000000088;,NaN
3903,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
weather_df.dtypes

Date                        datetime64[ns]
 Temperature                        object
 Average humidity (%                object
 Average dewpoint (°F               object
 Average barometer (in              object
 Average windspeed (mph             object
 Average gustspeed (mph             object
 Average direction (°deg            object
 Rainfall for month (in             object
Rainfall for year (in               object
 Maximum rain per minute            object
 Maximum temperature (°F            object
 Minimum temperature (°F            object
 Maximum humidity (%                object
 Minimum humidity (%                object
 Maximum pressure                   object
 Minimum pressure                   object
 Maximum windspeed (mph             object
 Maximum gust speed (mph            object
 Maximum heat index (°F             object
Date1                               object
 Month                              object
 diff_pressure                      object
Unnamed: 23                        float64
dtype: object

In [45]:
# remove the irrelevent data 
weather_df = weather_df[weather_df[' diff_pressure'] != '0.11700000000000088;']

In [46]:
weather_df

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure,Unnamed: 23
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037,NaN
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998,NaN
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978,NaN
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864,NaN
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3897,2033-07-24,64.1,62.0,49.8,29.6,3.6,5.8,240.0,0.24,4.38,...,35.0,29.686,29.577,15.0,25.3,77.4,2022-07-24,07,0.10899999999999821,NaN
3898,2033-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,36.0,29.781,29.645,8.1,17.3,77.5,2022-07-25,07,0.13599999999999923,NaN
3899,2033-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,40.0,29.93,29.745,11.5,15.0,77.5,2022-07-26,07,0.18499999999999872,NaN
3900,2033-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,35.0,29.941,29.781,13.8,18.4,78.2,2022-07-27,07,0.16000000000000014,NaN
3903,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
weather_df.dtypes

Date                        datetime64[ns]
 Temperature                        object
 Average humidity (%                object
 Average dewpoint (°F               object
 Average barometer (in              object
 Average windspeed (mph             object
 Average gustspeed (mph             object
 Average direction (°deg            object
 Rainfall for month (in             object
Rainfall for year (in               object
 Maximum rain per minute            object
 Maximum temperature (°F            object
 Minimum temperature (°F            object
 Maximum humidity (%                object
 Minimum humidity (%                object
 Maximum pressure                   object
 Minimum pressure                   object
 Maximum windspeed (mph             object
 Maximum gust speed (mph            object
 Maximum heat index (°F             object
Date1                               object
 Month                              object
 diff_pressure                      object
Unnamed: 23                        float64
dtype: object

In [48]:
# change the data type of Month from float to int
weather_df[' Month'] = pd.to_numeric(weather_df[' Month'], errors='coerce')

C:\Users\ratho\AppData\Local\Temp\ipykernel_21560\2085446904.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df[' Month'] = pd.to_numeric(weather_df[' Month'], errors='coerce')

In [49]:
weather_df.dtypes

Date                        datetime64[ns]
 Temperature                        object
 Average humidity (%                object
 Average dewpoint (°F               object
 Average barometer (in              object
 Average windspeed (mph             object
 Average gustspeed (mph             object
 Average direction (°deg            object
 Rainfall for month (in             object
Rainfall for year (in               object
 Maximum rain per minute            object
 Maximum temperature (°F            object
 Minimum temperature (°F            object
 Maximum humidity (%                object
 Minimum humidity (%                object
 Maximum pressure                   object
 Minimum pressure                   object
 Maximum windspeed (mph             object
 Maximum gust speed (mph            object
 Maximum heat index (°F             object
Date1                               object
 Month                             float64
 diff_pressure                      object
Unnamed: 23                        float64
dtype: object

In [50]:
# save file in csv format
weather_df.to_csv("weather_df_cleaned",index = None)